/* taken from .bg-warning class in Bootstrap */
.yellow-bg {
  background-color: #ffc107!important;
  cursor: pointer;
}
.yellow-bg-on-hover:hover {
  background-color: #ffc107!important;
  cursor: pointer;
}
